@import "darkMode";

$vistopia-gold: #f0dd71 !important;

.page-home,
.page-home .home-content,
.page-article,
.page-detail .detail-content .tabs_wrap,
.page-detail .detail-content .tabs_wrap .el-tabs .el-tabs__header,
.page-detail {
  background: $app-frame;
}

.comment-list .item-wrap .articleTitle,
.audioList .part-area ul .li_item {
  background: $content-component;
}

#web-header {
  background: $app-frame;
}



.comment_children .child .name {
  color: $title;
}



.page-article .article-content .article {
  color: $primaryText;
}

.comment_children .child .replied {
  color: $secondaryText;
}

.page-article .article-content .article.article a {
  color: $vistopia-gold;
}